{% extends "layout.html" %}
{% block title %}
    portofolio
{% endblock %}

{% block main %}

<table style="width:100%">
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Shares</th>
    <th>Price</th>
    <th>TOTAL</th>
  </tr>
   {% for row in rows %}

        <tr>
           <td>{{ row["symbol"] }}</td><td>{{ row["name"] }}</td><td>{{ row["shares"] }}</td><td>{{ row["price"]}}</td><td>{{ row["total"] }}</td>
        </tr>
   {% endfor %}


   <tr>
       <td> CASH </td><td></td><td></td><td></td><td>{{cash}}</td>
    </tr>
   <br>
   <tr>
       <td></td><td></td><td></td><td></td><td>{{overall}}</td>
   </tr>

</table>
{% endblock %}